[package]
name = "rlbotguilauncher"
version = "0.4.3"
edition = "2021"
description = "RLBotGui Launcher"
license-file = "LICENSE"
repository = "https://github.com/swz-git/guilauncher"
publish = false

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[profile.release]
lto = true
opt-level = "z"

[dependencies]
clap = { version = "4.4.2", features = ["derive"] }
console = "0.15.7"
directories = "5.0.1"
reqwest = "0.11.20"
self-replace = "1.3.6"
serde = { version = "1.0.190", features = ["derive"] }
serde_json = "1.0.108"
tokio = { version = "1.32.0", features = [
  "rt",
  "net",
  "macros",
  "rt-multi-thread",
  "fs",
  "process",
] }
tracing = "0.1.40"
tracing-subscriber = "0.3.17"
yansi = "1.0.0-rc.1"
zip = "0.6.6"
zip-extract = "0.1.2"

[build-dependencies]
winres = "0.1"
static_vcruntime = "2.0.0"
